@{
    ViewData["Title"] = "Viewing Dish";
}
@model Dish

<div class="text-center">
    <h1 class="display-4">@Model.DishName</h1>
    <a href="/">Home</a> |
    <a href="/dishes/new">Add a Dish</a>
</div>

<div class="d-flex flex-column align-items-center">
    <h4 class="m-4" style="border-bottom: 2px solid black;">@Model.DishName by @Model.ChefName</h4>
    <p class="mb-4">@Model.Description</p>
    <p class="mb-4">@Model.Calories</p>
    <p class="mb-4">@Model.Tastiness</p>
    <div class="d-flex gap-5">
        <form asp-action="Destroy" asp-controller="Home" asp-route-DishId="@Model.DishId" method="post">
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
        <a asp-action="Edit" asp-controller="Home" asp-route-DishId="@Model.DishId" class="btn btn-warning">Edit
            Dish</a>
    </div>
</div>